:root {
  --diagonal-section-offset: 50px;
}

.diagonal-section,
.diagonal-section-top,
.diagonal-section-bottom {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.diagonal-section {
  margin-top: calc(0px - var(--diagonal-section-offset));
}

@supports (clip-path: inset(50%)) {
  .diagonal-section {
    padding-top: calc(var(--diagonal-section-offset) / 2);
    padding-bottom: calc(var(--diagonal-section-offset) / 2);
    clip-path: polygon(
      0% 0%,
      100% var(--diagonal-section-offset),
      100% 100%,
      0% calc(100% - var(--diagonal-section-offset))
    );
  }
}
