@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;700&display=swap');

* {
  font-family: 'Mohave', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

main {  
  /* height:calc((var(--vh, 1vh) * 100) - theme('spacing.24')); */
}

h1 {
  @apply font-bold text-4xl;
}

h2 {
  @apply font-bold text-3xl;
}

h2 {
  @apply font-bold text-2xl;
}

.container {
  @apply p-4 md:p-8;
}
